* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fb8b24;
  padding: 20px;
  margin-bottom: 10px;
}
header .logo-container {
  margin-left: 2em;
}
header .logo-container .img-logo {
  width: 5.5rem;
}
header .nav {
  display: none;
  justify-content: flex-end;
}
header .nav-link {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
header .nav-link li a {
  text-decoration: none;
  color: #1746a2;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
header .nav-link li a:hover {
  color: black;
}

footer {
  background-color: #1746a2;
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  color: #fff7e9;
  flex-wrap: wrap;
}
footer .redes li {
  background-color: #1746a2;
  text-align: center;
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 1.5em;
  cursor: pointer;
}
footer .redes li a {
  color: hsl(0, 0%, 75%);
}
footer .redes li a:hover {
  color: #fff7e9;
}
footer .redes li:hover {
  color: #fff7e9;
}
footer .terminos,
footer .preguntas {
  color: hsl(0, 0%, 75%);
  font-size: 1em;
  cursor: pointer;
}
footer .terminos:hover,
footer .preguntas:hover {
  color: #fff7e9;
}
footer .copyright {
  flex-basis: 100%;
  text-align: justify;
  background-color: #fff7e9;
  display: flex;
  color: #1746a2;
  font-size: 0.8em;
}
footer .copyright .copy {
  display: inline-block;
}
footer .copyright .copy a {
  color: hsl(0, 0%, 35%);
  font-size: 0.9em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #1746a2;
  color: hsl(0, 0%, 85%);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 90%;
  max-width: 75%;
  position: relative;
}
.modal-content h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.modal-content h4 {
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 20px;
  font-size: medium;
  color: #fcd900;
}
.modal-content p {
  margin-bottom: 15px;
  text-align: justify;
}

.close {
  text-align: end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header .abrir-menu,
  header .cerrar-menu {
    display: none;
  }
  header .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 95%;
  }
  header .nav-link {
    justify-content: flex-end;
    width: 95%;
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  header .abrir-menu {
    display: block;
  }
  header .cerrar-menu {
    display: none;
  }
  header .nav.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  header .nav-link {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .nav-link li {
    padding: 10px 0;
    text-align: center;
  }
  header .logo-container {
    margin: 0 auto;
    text-align: center;
  }
  header .abrir-menu,
  header .cerrar-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff7e9;
    position: absolute;
    text-align: center;
    right: 10%;
  }
  footer .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .redes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: none;
  }
  footer .redes li {
    display: inline-block;
    margin: 10px 10px;
  }
  footer .preguntas,
  footer .terminos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  footer .preguntas > div,
  footer .terminos > div {
    width: calc(33.33% - 20px);
    margin: 0 10px;
    text-align: center;
  }
  footer .copy {
    font-size: 12px;
    margin: 5px;
  }
  footer .modal-content {
    margin: 15% 5%;
    width: 75%;
    max-width: 75%;
  }
  .modal-content {
    background-color: #1746a2;
    color: hsl(0, 0%, 85%);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 75%;
    max-width: 75%;
    position: relative;
  }
  .modal-content .modal-link {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .section-carrusel {
    position: relative;
    z-index: 0;
  }
  .section-a,
  .section-b {
    display: none;
  }
  .section-c {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    max-height: calc(100vh - 100px);
  }
  .section-c .article-a,
  .section-c .article-b,
  .section-c .article-c,
  .section-c .article-d {
    width: calc(100% - 20px);
    margin: 10px;
    height: 150px;
  }
  .btn-lg {
    display: flex;
    width: 100%;
    text-align: left;
    border: none;
    align-items: center;
  }
  .input-group {
    text-align: center;
    margin-bottom: 10px;
  }
  .form-select {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
  }
  .type-product {
    background-color: #fb8b24;
    text-align: center;
  }
  .sidebar {
    width: 100%;
    margin-top: 45px;
    left: -100%;
  }
  .about-us {
    flex-direction: column;
    align-items: center;
  }
  .about-us article-e,
  .about-us article-f,
  .about-us article-g {
    width: 100%;
    margin: 10px 0;
  }
}
section-carrusel {
  text-align: center;
  max-width: 1800px auto;
  margin: 0 auto;
  margin-bottom: 20px;
}
section-carrusel prevnext {
  background-color: transparent;
  border-radius: 50px;
  margin: 5px;
}
section-carrusel slide {
  overflow: hidden;
  border-radius: 10px;
}

.section-a h1 {
  font-size: 30px;
  text-align: center;
  color: #1746a2;
  font-weight: bold;
  padding-top: 1em;
  margin-bottom: 1em;
}
.section-a h2 {
  font-size: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: #fb8b24;
  font-weight: bold;
}

.section-b p {
  font-size: 18px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-c {
  display: flex;
  height: 500px;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
}
.section-c .article {
  width: 25em;
  margin: 0 3px;
}
.section-c .article.article-a {
  background-image: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)), url("../img/img1.png");
  background-repeat: no-repeat;
}
.section-c .article.article-b {
  background-image: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)), url("../img/img2.png");
  background-repeat: no-repeat;
}
.section-c .article.article-c {
  background-image: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)), url("../img/img3.png");
  background-repeat: no-repeat;
}
.section-c .article.article-d {
  background-image: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)), url("../img/img4.png");
  background-repeat: no-repeat;
}
.section-c .article .parrafo {
  color: #fff7e9;
}
.section-c .article .img {
  width: 8em;
  height: 12em;
}
.section-c .article .img img {
  width: 100%;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  padding: 20px;
}
.about-us .article-e,
.about-us .article-f,
.about-us .article-g {
  background-color: hsl(0, 0%, 90%);
  flex: 1;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.about-us .article-e .parrafo-2,
.about-us .article-f .parrafo-2,
.about-us .article-g .parrafo-2 {
  font-size: 1.5rem;
  text-align: center;
  color: #1746a2;
  font-weight: bold;
  margin-bottom: 10px;
}
.about-us .article-e p,
.about-us .article-f p,
.about-us .article-g p {
  text-align: center;
}

.menu-bar {
  justify-content: space-between;
}

.form-select {
  cursor: pointer;
  text-align: justify;
  border-color: none;
}

.type-product {
  background-color: #fb8b24;
  font-size: 22px;
  color: #fff7e9;
  height: 50px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  left: -300px;
  transition: left 0.4s ease;
  z-index: 1000;
}
.sidebar.show {
  left: 0px;
}
.sidebar .text {
  color: #fff7e9;
  font-size: 22px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1746a2;
  letter-spacing: 1px;
}
.sidebar ul {
  background: #1746a2;
  height: 100%;
  width: 100%;
  list-style: none;
  padding-left: 10px;
}
.sidebar ul li {
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar ul li a {
  position: relative;
  color: #fff7e9;
  text-decoration: none;
  font-size: 15px;
  padding-left: 14px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
.sidebar ul li a.active {
  color: #fcd900;
  background: #1746a2;
  border-left-color: #fcd900;
}

.discount {
  background-color: red;
  padding: 10px 4px;
  font-size: 14px;
  border-radius: 50%;
  color: #fff;
}

.wishlist {
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first {
  position: absolute;
  width: 100%;
  padding: 9px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  width: 75%;
}

.list-price {
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: right;
}

.new-price {
  font-size: 16px;
  font-weight: bold;
  color: red;
  text-align: right;
}

.old-price {
  font-size: 14px;
  font-weight: normal;
  color: rgb(167, 165, 165);
  text-decoration: line-through;
  text-align: right;
}

.contactanos,
.nuestra-ubicacion {
  margin: 1rem;
}
.contactanos h1,
.nuestra-ubicacion h1 {
  font-size: 30px;
  text-align: justify;
  color: #1746a2;
  font-weight: bold;
}
.contactanos h1.contactanos,
.nuestra-ubicacion h1.contactanos {
  padding-top: 1em;
  margin-bottom: 1em;
}
.contactanos .container-fluid .row,
.nuestra-ubicacion .container-fluid .row {
  margin-right: -15px;
  margin-left: -15px;
}
.contactanos .container-fluid .col-md-12,
.nuestra-ubicacion .container-fluid .col-md-12 {
  padding-right: 1px;
  padding-left: 1px;
}
.contactanos .info-ubicacion,
.nuestra-ubicacion .info-ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactanos .info-ubicacion li,
.nuestra-ubicacion .info-ubicacion li {
  list-style: none;
}
.contactanos .info-ubicacion li i,
.nuestra-ubicacion .info-ubicacion li i {
  font-size: 24px;
  margin-right: 10px;
}

.btn-lg {
  height: 40px;
  text-align: center;
  cursor: pointer;
  transition: left 0.4s ease;
  border: none;
  text-decoration: underline;
  background-color: white;
}

.custom-btn {
  border-radius: 20px;
  background: #fb8b24;
  border: 1px solid transparent;
  color: #fff7e9;
  height: 40px;
  width: 100vh;
  font-style: bold;
  font-size: 16px;
}

.button {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}
.button a {
  background-color: #1746a2;
  color: #fff7e9;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  text-decoration: none;
}
.button a:hover {
  background-color: #1746a2;
}

.buttons {
  background-color: #1746a2;
  color: #fff7e9;
  padding: 10px;
  border-radius: 25px;
  font-weight: normal;
  border: 0;
  text-decoration: none;
  text-align: center;
}
.buttons:hover {
  background-color: black;
  text-align: center;
}

.article-base, .section-c .article, .about-us .article-e,
.about-us .article-f,
.about-us .article-g {
  background-repeat: no-repeat;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
