.btn-lg {
    @extend %button-base;
    transition: left 0.4s ease;
    text-decoration: underline;
    background-color: white;
}

.custom-btn {
    @extend %button-base;
    border-radius: 20px;
    background: $bg-orange;
    color: #fff7e9;
    width: 100vh;
    font-style: bold;
    font-size: 16px;
}

.button {
    @extend %button-base;
    width: 300px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;

    a {
        background-color: $bg-blue;
        color: #fff7e9;
        padding: 10px;
        border-radius: 5px;
        border: 0;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            background-color: $bg-blue;
        }
    }
}

.buttons {
    @extend %button-base;
    background-color: #1746a2;
    color: #fff7e9;
    padding: 10px;
    border-radius: 25px;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        background-color: $bg-black;
        text-align: center;
    }
}