// Formato del Footer
footer {
  background: linear-gradient(to bottom, $colorblue1, $colorblue2);
  display: flex;
  justify-content: space-around;
  color: #fff7e9;
  flex-wrap: wrap;
  align-items: center;
  
  .redes ul,
  .preguntas,
  .terminos {
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1em;
    color: $colorgray2;
    cursor: pointer;
    align-items: center;
  }

  .redes li {
    background-color: transparent;
    list-style-type: none;
    margin-bottom: 6px;

    a {
      font-size: 1.5em;
      color: $colorgray2;

      &:hover {
        color: $bg-white;
      }
    }

    &:hover {
      color: $bg-white;
    }
  }

  .terminos,
  .preguntas {

    &:hover {
      color: $bg-white;
    }
  }

  .copyright {
    flex-basis: 100%;
    background-color: $bg-white;
    display: flex;
    flex-direction: column;
    color: $bg-blue;
    font-size: 0.8em;

    .copy {
      display: inline-block;
      margin-bottom: 2px;
      text-align: justify;
    }

    .link-defensa {
      margin-top: 2px;

      a {
        color: $colorgray2;
        font-size: 0.9em;
      }
    }
  }
}

// Estilos para los modales
.modal {

  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal.active {
  display: block;
  opacity: 1; 
}

.modal-content {
  background: $colorgray1;
  color: $bg-black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 70%;
  max-width: 50%;
  position: relative;

  h2 {
    font-size: large;
    font-weight: bold;
    color: $bg-blue;
    margin-bottom: 20px;
  }

  h4 {
    font-size: medium;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 20px;
    color: $bg-blue;
  }

  p {
    font-size: medium;
    margin-bottom: 15px;
    text-align: justify;
  }
}

.close {
  text-align: end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  &.fadeOut {
    animation: fadeOutModal 0.5s ease forwards;
  }

  @keyframes fadeOutModal {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

