// Definir colores para el gradiente orange (header)
$colororange1: #fb8b24; 
$colororange2: #f8a619;


// Definir colores para el gradiente blue (footer)
$colorblue1: #1746a2; 
$colorblue2: #00213d;

// Definir colores para el gradiente grises
$colorgray1: #eaeaea; 
$colorgray2: #a6a6a6;


