// Mixin para diseño de tarjetas
@mixin card-styles($background-color: #fff, $border-radius: 10px, $shadow-intensity: 4px, $shadow-angle: 0) {
    border: none;
    border-radius: $border-radius;
    box-shadow: 0 $shadow-angle $shadow-intensity 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $background-color;
}

// Uso del mixin para las product-card
.product-card {
    @include card-styles;
}

