// Mixin para diseño de tarjetas
@mixin card-styles {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

// Uso del mixin para las product-card
.product-card {
    @include card-styles;
}

